<!-- IF S_CARAMEL_ENABLED && S_REGISTERED_USER -->
	<li class="crml-header-value rightside"><a href="{U_CARAMEL_UCP}"><span class="crml-header-value-number">{CRML_MY_CASH}</span> {CRML_UNIT}</a></li>
<!-- ENDIF -->