<!-- IF postrow.U_TIP -->
	<li data-skip-responsive="true">
		<a href="{postrow.U_TIP}" title="{CRML_TIP_POST}" class="button icon-button tip-icon caramel-tip"><span>{L_CRML_TIP}</span></a>
	</li>
<!-- ENDIF -->