<!-- IF S_CARAMEL -->
	<dd class="profile-cash"><strong>{CRML_UNIT}</strong>{L_COLON} {postrow.CRML_CASH}
	<span class="crml-topic-links"><!-- IF postrow.S_ALLOW_DONATE && postrow.S_DONATIONS_ENABLED --> [<a href="{postrow.U_DONATE}">{L_CRML_DONATE}</a>]<!-- ENDIF -->
	<!-- IF postrow.S_ALLOW_MANAGE --> [<a href="{postrow.U_MANAGE}">{L_CRML_MANAGE}</a>]<!-- ENDIF --></span>
	</dd>
<!-- ENDIF -->
