<!-- INCLUDE overall_header.html -->

<div class="panel bg1">
	<div class="inner">
		<h3>{L_CRML_DONATE} {CRML_UNIT}</h3>
		<form id="transfer" method="post" name="donate_form" action="">
			<fieldset>
				<dl>
					<dt>
						<label>{L_CRML_DONATION_AMOUNT}{L_COLON}</label>
						<br /><span>{DONATION_EXPLAINED}</span>
					</dt>
					<dd>
						<input type="text" name="amount" tabindex="1" id="amount" size="20" class="inputbox autowidth" />
						<!-- IF S_ERROR --><dl class="error">{ERROR_MSG}</dl><!-- ENDIF -->
					</dd>
				</dl>
				<dl>
					<dt>
						<label>{L_CRML_DONATION_MESSAGE}{L_COLON}</label>
					</dt>
					<dd>
						<input type="text" name="message" tabindex="2" id="message" size="40" class="inputbox autowidth" />
					</dd>
				</dl>
			</fieldset>
			<fieldset class="submit-buttons">
				<input type="submit" name="submit" value="{L_CRML_DONATE}" class="button1" />
				<input type="reset" name="reset" value="{L_RESET}" class="button2" />
				<input type="hidden" name="referer" value="{U_REFERER}" />
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->